#WRAP {
  &:has(#scatalog_2512) {
    &:has(.local_cont_wrap) {
      #GNB {
        position: fixed;
      }

      .container {
        padding-bottom: 0;
      }
    }
  }
}

#scatalog_2512 {
  &:has(.local_cont_wrap) {
    background-color: #2C2825;
  }

  .local_cont_wrap {
    .local_cont_header {
      position: sticky;
      top: 60px;
      width: 100%;
      height: 698px;
      background: url('/resources/site/img/scatalog_2512/local/bg_local_shinsegae.jpg') -728px center / cover no-repeat;

      .local_header_inner {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 50px 18px 80px;
        box-sizing: border-box;

        .logo_local {
          display: inline-block;
          width: 316px;
          height:39.91px;
          vertical-align: top;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .sc_ctitle_wrap_zero {
          text-align: center;

          .sc_ctitle_md {
            margin-bottom: 20px;
            color: #fff;

            ~ [class^=sc_stext_] {
              margin-top: 16px;
              opacity: .8;
            }

            + [class^=sc_stext_] {
              margin-top: 0;
            }
          }
        }

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(180deg, rgba(44, 40, 37, 0) 52.01%, #2C2825 81.86%);
          z-index: -2;
        }

        &:after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 52.14899713467049%;
          bottom: 0;
          backdrop-filter: blur(60px);
          -webkit-mask-image: linear-gradient(to top, black, transparent);
          mask-image: linear-gradient(to top, black, transparent);
          z-index: -1;
        }
      }
    }

    .local_cont_body {
      overflow: hidden;
      position: sticky;
      z-index: 3;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      background-color: #2C2825;

      [class^='sc_cont_box'] {
        background-color: rgba(255, 255, 255, .9);

        &:last-child {
          padding-bottom: 60px;
        }
      }

      .sc_cont_box_lg {
        padding-top: 60px;

        .cont_inner {
          .sc_ctitle_wrap_sm {
            .sc_stext_dark_gray_md {
              opacity: .8;
            }
          }
        }
      }

      .sc_ctitle_wrap_sm {
        margin-bottom: 24px;

        .sc_ctitle_xl {
          font-weight: 600;
          color: #000;
          ~ [class^=sc_stext_] {
            margin-top: 12px;
          }
        }
      }

      .experience_info_box {
        overflow: hidden;
        width: 100%;
        border-radius: 12px;

        .img_box {
          width: 100%;

          img {
            width: 100%;
            object-fit: cover;
          }
        }

        .info_box {
          padding: 24px 20px;
          background-color: #fff;

          .tbl_info_wrap {
            .tbl_info {
              tr {
                th {
                  padding-right: 14px;
                  font-weight: 600;
                }

                td {
                  color: #444;
                  opacity: .8;
                }

                ~ tr {
                  th, td {
                    padding-top: 10px;
                  }
                }
              }
            }
          }
        }

        ~ .star_text {
          margin-top: 12px;
          color: #666;

          &::before {
            color: #666;
          }
        }
      }

      .sc_ctitle_wrap_xs {
        margin-bottom: 16px;

        .sc_ctitle_lg {
          font-size: 22px;
          line-height: 1.3em;
        }
      }

      .white_box {
        overflow: hidden;
        width: 100%;
        padding: 40px 18px 40px 24px;
        border-radius: 12px;
        background-color: #fff;
        box-sizing: border-box;

        .experience_step_list {
          width: 100%;

          .experience_step_item {
            position: relative;
            width: auto;
            padding: {
              left: 28px;
              bottom: 60px;
            }

            .info_box {
              .step_title {
                display: flex;
                column-gap: 6px;
                margin-bottom: 10px;

                .step {
                  display: inline-block;
                  font-family: "Jost", serif;
                  font-weight: 500;
                  font-size: 18px;
                  line-height: 1.3em;
                  letter-spacing: -.015em;
                  color: #F24024;
                  vertical-align: top;
                }

                .title {
                  display: inline-block;
                  font-family: 'Pretendard', sans-serif;
                  font-weight: 600;
                  font-size: 18px;
                  line-height: 1.3em;
                  letter-spacing: -.015em;
                  color: #000;
                  vertical-align: top;
                }
              }

              .plan {
                margin-bottom: 6px;
                font-family: 'Pretendard', sans-serif;
                font-weight: 500;
                font-size: 15px;
                line-height: 1.4em;
                letter-spacing: -.015em;
                color: #000;
              }

              .desc {
                font-family: 'Pretendard', sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 1.4em;
                letter-spacing: -.015em;
                color: #444;
              }
            }

            .img_box {
              width: 100%;

              img {
                width: 100%;
                object-fit: cover;
              }
            }

            &:after {
              content: '';
              position: absolute;
              left: 0;
              top: 7px;
              display: inline-block;
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background-color: #000;
              vertical-align: top;
            }

            &:before {
              content: '';
              position: absolute;
              top: 11px;
              left: 3.5px;
              display: inline-block;
              width: 1px;
              height: 100%;
              background-color: #eee;
              vertical-align: top;
            }

            &:last-child {
              padding-bottom: 0;

              &:before {
                top: 0;
              }
            }
          }
        }
      }
    }
  }
}